<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :reminder %><br>
    <%= f.datetime_select :reminder %>
  </div>
  <div class="field">
    <%= f.label :sponsor_id %><br>
    <%= f.select :sponsor_id, options_for_select(Sponsor.all.collect { |p| [ p.name, p.id ] }), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :organiser_id %><br>
    <%= f.select :organiser_id, options_for_select(Organiser.all.collect { |p| [ p.surname, p.id ] }), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.select :event_id, options_for_select(Event.all.collect { |p| [ p.kind, p.id ] }), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br>
    <%= f.select :speaker_id, options_for_select(Speaker.all.collect { |p| [ p.surname, p.id ] }), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
