<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :reminder %><br>
    <%= f.datetime_select :reminder %>
  </div>
  <div class="field">
    <%= f.label :sponsor_id %><br>
    <%= f.text_field :sponsor_id %>
  </div>
  <div class="field">
    <%= f.label :organiser_id %><br>
    <%= f.text_field :organiser_id %>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br>
    <%= f.text_field :speaker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
