<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @task.reminder %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @task.sponsor %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= @task.organiser %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @task.speaker %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
