<!DOCTYPE html>
<html>
<head>
  <title>Conf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar static: :top do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Events", events_path %>
        <%= menu_item "Organisers", organisers_path %> 
        <%= menu_item "Participants", participants_path %>
        <%= menu_item "Speakers", speakers_path %>
        <%= menu_item "Sponsors", sponsors_path %> 
        <%= menu_item "Tasks", tasks_path %> 
    <% end %>
<% end %>




<h1>Aplikacja Conf</h1>


<%= yield %>

</body>
</html>
